<html layout:decorate="~{layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>회원 실시간 채팅방 페이지</title>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="/js/member/chat.js"></script>
</head>
<body>
<main layout:fragment="main" style="height: 100vh; display: flex; justify-content: center; align-items: center;">
    <div id="app" class="sm:w-1/3 md:w-1/2 lg:w-1/3 h-2/3 flex flex-col items-center justify-center overflow-hidden">
        <!-- 헤더 -->
        <div class="flex w-64 bg-[#78C4BA]">
            <div class="flex w-64 justify-between items-center my-3 px-2">
                <a th:if="${@rq.login}" th:href="@{/members/chatrooms}">
                    <button>
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="#ffffff">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"/>
                        </svg>
                    </button>
                </a>
                <div class="inline-block">
                    <h1 class="font-semibold text-lg text-[#ffffff]">Messages</h1>
                </div>
                <div class="flex w-6 h-6"></div>
            </div>
        </div>
        <!-- 채팅상대명 -->
        <div class="flex my-1">
            <div class="flex-1 text-center">
                <h1 class="font-normal text-m text-[#78C4BA]" th:text="${chatroom.admin.hospital.name}+' '+${chatroom.admin.subject.name}">병원 진료과</h1>
            </div>
        </div>
        <!-- 채팅 화면 -->
        <input type="hidden" id="memberName" th:value="${@rq.getMember().getUsername()}">
        <div class="flex-1 overflow-y-auto" id="chat-container">
            <tr th:each=" message : ${messages}">
                <input type="hidden" id="newDate" th:value="${#temporals.format(message.createDate,'yyyy / MM / dd')}">
                <div id="date" class="flex mb-2 w-56 justify-center">
                    <!-- 채팅 날짜 -->
                </div>
                <script>updateDateValue(document.getElementById('newDate').value);</script>
                <div class="flex mb-2 w-56 justify-end"  th:if="${message.userType}=='MEMBER'">
                    <div class="bg-[#F6F6F6] p-2 rounded-lg max-w-[70%] text-xs relative" style="text-align: right;"> <!-- 오른쪽 정렬 설정 -->
                        <p class="text-gray-500 font-semibold mb-1" style="text-align: right;">회원:</p>
                        <p th:text="${message.content}"></p>
                    </div>
                </div>
                <div class="flex mb-2 w-56" th:unless="${message.userType}=='MEMBER'">
                    <div class="bg-[#78C4BA] p-2 rounded-lg max-w-[70%] text-xs relative">
                        <p class="text-gray-500 font-semibold mb-1" style="text-align: right;">관리자:</p>
                        <p th:text="${message.content}"></p>
                    </div>
                </div>
            </tr>
            <!-- 날짜 추가여부 -->
            <div id="todayDate" class="flex mb-2 w-56 justify-center">
            </div>
            <div class="flex mb-2 w-56 justify-center" th:if="${lastMessage.isPresent()}">
                <input type="hidden" id="lastDate" th:value="${#temporals.format(lastMessage.get(),'yyyy / MM / dd')}">
                <script>addDate(document.getElementById("lastDate").value);</script>
            </div>
            <div class="flex mb-2 w-56 justify-center" th:unless="${lastMessage.isPresent()}">
                <script>addDate();</script>
            </div>
            <!-- 실시간 채팅 동적으로 추가 -->
        </div>
        <!-- 전송버튼 -->
        <div class="w-64 pt-4 border-t border-[#78C4BA]">
            <div class="flex">
                <input id="message-input" type="text" class="flex-1 p-2 rounded-l-lg text-sm" placeholder="메시지를 입력하세요" style="font-size: 13px; border: 1px solid #ccc; width: 80%;">
                <button id="send-button" class="flex bg-[#78C4BA] justify-center text-white p-2 rounded-r-lg text-sm" style="min-width: 40px; font-size: 12px;">
                    <svg class="w-6 h-6 fill-[#ffffff]" viewBox="0 0 576 512" xmlns="http://www.w3.org/2000/svg">
                        <path d="M16.1 260.2c-22.6 12.9-20.5 47.3 3.6 57.3L160 376V479.3c0 18.1 14.6 32.7 32.7 32.7c9.7 0 18.9-4.3 25.1-11.8l62-74.3 123.9 51.6c18.9 7.9 40.8-4.5 43.9-24.7l64-416c1.9-12.1-3.4-24.3-13.5-31.2s-23.3-7.5-34-1.4l-448 256zm52.1 25.5L409.7 90.6 190.1 336l1.2 1L68.2 285.7zM403.3 425.4L236.7 355.9 450.8 116.6 403.3 425.4z"></path>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</main>
</body>
</html>