<html layout:decorate="~{layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>채팅 히스토리 페이지</title>
    <!--jQuery-->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>
<body>
<main layout:fragment="main" style="height: 100vh; display: flex; justify-content: center; align-items: center;">

    <div class="sm:w-1/3 md:w-1/2 lg:w-1/3 h-2/3 flex flex-col items-center justify-center overflow-hidden">
        <!-- 헤더 -->
        <div class="flex w-64 bg-[#78C4BA]">
            <div class="flex justify-between my-3 pl-2">
                <a th:href="@{/members}">
                    <button>
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="#ffffff">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"/>
                        </svg>
                    </button>
                </a>
                <div class="inline-block ml-9">
                    <h1 class="font-semibold text-lg text-[#ffffff]">Chatting History</h1>
                </div>
            </div>
        </div>
        <!-- 채팅방 리스트 -->
        <div class="flex-1 p-4 overflow-y-auto">
            <tr th:each=" chatroom : ${chatroomList}">
                <div class='flex justify-between text-center p-2 mt-2'>
                    <div class='flex inline-block text-[#121212] text-left ml-3' style='font-size: 0.8rem;' th:text="${chatroom.admin.hospital.name}+' '+${chatroom.admin.subject.name}">병원</div>
                    <a th:href="@{/members/chatrooms/{chatroomId}(chatroomId=${chatroom.id})}" class="flex inline-block mr-2">
                        <button>
                            <svg class="w-6 h-6 fill-[#78c4ba]" viewBox="0 0 576 512" xmlns="http://www.w3.org/2000/svg">
                                <path d="M352 96l64 0c17.7 0 32 14.3 32 32l0 256c0 17.7-14.3 32-32 32l-64 0c-17.7 0-32 14.3-32 32s14.3 32 32 32l64 0c53 0 96-43 96-96l0-256c0-53-43-96-96-96l-64 0c-17.7 0-32 14.3-32 32s14.3 32 32 32zm-9.4 182.6c12.5-12.5 12.5-32.8 0-45.3l-128-128c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L242.7 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l210.7 0-73.4 73.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l128-128z"></path>
                            </svg>
                        </button>
                    </a>
                </div>
            </tr>
        </div>
        <!-- 새로운 채팅 버튼 -->
        <div class="flex flex-col w-64 my-10">
            <a th:href="@{/members/chatrooms/new-chatrooms}">
                <button class="w-full rounded bg-[#78C4BA] text-center p-2 border border-[#78C4BA] mb-4">
                    <div class="text-[#ffffff] flex justify-center h-full">
                        <div>새로운 채팅하기</div>
                    </div>
                </button>
            </a>
        </div>
    </div>
</main>
</body>
</html>