<html layout:decorate="~{layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
  <title>회원가입</title>
  <script src="/js/member/join.js"></script>
</head>
<body>
<main layout:fragment="main" style="height: 100vh; display: flex; justify-content: center; align-items: center;">
  <div class="max-w-2xl w-full px-4">
    <h1 class="mb-4 font-semibold text-lg">회원가입</h1>
    <form th:action method="POST" class="flex flex-col gap-6" onsubmit="JoinFormDto__submit(this); return false;">
      <div class="form-control">
        <label class="label">
          <span class="label-text">아이디</span>
        </label>
        <input type="text" name="username" placeholder="아이디" class="input input-bordered" autofocus/>
      </div>
      <div class="form-control">
        <label class="label">
          <span class="label-text">비밀번호</span>
        </label>
        <input type="password" name="password" placeholder="비밀번호" class="input input-bordered"/>
      </div>
      <div class="form-control">
        <label class="label">
          <span class="label-text">비밀번호 확인</span>
        </label>
        <input type="password" name="passwordValidation" placeholder="비밀번호 확인" class="input input-bordered"/>
      </div>
      <div class="form-control">
        <label class="label">
          <span class="label-text">이메일</span>
        </label>
        <input type="email" name="email" placeholder="이메일" class="input input-bordered"/>
      </div>
      <button id="btn-login-1" class="flex justify-center rounded bg-[#78C4BA] gap-1 text-white">
        <span class="p-3">회원가입</span>
      </button>
    </form>
  </div>
</main>
</body>
</html>