<html layout:decorate="~{layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>예약 확정 페이지</title>
</head>
<body>
<main layout:fragment="main" style="height: 100vh; display: flex; justify-content: center; align-items: center;">
    <div class="sm:w-1/3 md:w-1/2 lg:w-1/3 h-2/3 flex flex-col items-center justify-center overflow-hidden">
        <!-- TODO: API 수정 -> 헤더 -->
        <div class="flex items-center mb-6">
            <div class="mr-7 mb-2">
                <svg id="navigateToReservations" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 cursor-pointer" fill="none" viewBox="0 0 24 24" stroke="#78C4BA">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"/>
                </svg>
            </div>
            <script>
                document.getElementById("navigateToReservations").addEventListener("click", function() {
                    window.location.href = "/members/reservations/wait";
                });
            </script>
            <div class="flex mx-8 mb-3">
                <div class="flex-1 text-center">
                    <h1 class="font-semibold text-lg text-[#78C4BA]">reservation</h1>
                </div>
            </div>
            <div class="ml-7 mb-2">
                <i class="fas fa-home text-[#78C4BA] text-l"></i>
            </div>
        </div>
        <!-- 회원 기본 정보 -->
        <div class="w-64 mb-7 flex flex-col">
            <p class="font-semibold text-l">다채님이 선택하신 <span class="text-[#78C4BA] text-l">'원광대학교 산부인과'</span></p>
        </div>
        <!-- 예약 현황 카테고리 -->
        <div class="flex justify-between w-64 mb-6">
            <div class="w-1/3 rounded bg-[#78C4BA] text-center p-1 border border-[#78C4BA] mr-4">
                <div class="text-[#ffffff] text-sm">예약 신청</div>
            </div>
            <div class="w-1/3 rounded bg-[#78C4BA] text-center p-1 border border-[#78C4BA]">
                <div class="text-[#ffffff] text-sm">예약 대기</div>
            </div>
            <div class="w-1/3 rounded bg-[#78C4BA] text-center p-1 border border-[#78C4BA] ml-4">
                <div class="text-[#ffffff] text-sm">예약 확정</div>
            </div>
        </div>
        <div class="w-64 mb-7 flex flex-col items-start">
            <div class="loader mb-3"></div>
            <p class="font-semibold" style="font-size: 19px; letter-spacing: 1px; color: #858587;">예약이 <span class="text-[#78C4BA]" style="font-size: 19px; letter-spacing: 1px;">확정</span>되었습니다.</p>
            <p class="font-semibold" style="font-size: 15px; letter-spacing: 0.5px; color: #858587;">잊지 않고 방문하실 수 있게 <br>방문 전 다시 알려 드리겠습니다.</p>
            <p class="font-semibold" style="font-size: 12px; letter-spacing: 0.3px; color: #F83758;">기타 문의 사항은 병원으로 문의 해주세요.</p>
        </div>
        <!-- 사람 아이콘 -->
        <div class="ml-11 flex flex-col" style="margin-left: 7.75rem;">
            <a href="https://imgbb.com"><img src="https://i.ibb.co/7t2CFrb/Kakao-Talk-Photo-2023-10-05-16-04-52.png" alt="Kakao-Talk-Photo-2023-10-05-16-04-52" style="width: 11rem; height: 11rem"></a>
        </div>
    </div>
</main>
</body>
</html>