<html layout:decorate="~{layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>예약 대기 페이지</title>
    <style>
        .loader {
            border: 4px solid #f3f3f3;
            border-top: 4px solid #78C4BA;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            animation: spin 2s linear infinite;
        }

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
    </style>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script>
        var stompClient = null;
        function connect() {
            var socket = new SockJS('/ws/reservation');
            stompClient = Stomp.over(socket);
            stompClient.connect({}, function (frame) {
                console.log('Connected: ' + frame);
                stompClient.subscribe('/topic/reservations/main/subjects/'+window.location.pathname.split('/')[3]
                    +'/hospitals/'+window.location.pathname.split('/')[5], function (message) {
                    console.log(JSON.parse(message.body));
                });
                stompClient.subscribe('/topic/reservations/members/'+document.getElementById('getMemberId').value
                    +'/subjects/'+window.location.pathname.split('/')[3]
                    +'/hospitals/'+window.location.pathname.split('/')[5], function (message) {
                    if((JSON.parse(message.body).userType == 'ADMIN')&&(JSON.parse(message.body).status == 'CONFIRMED')){
                        console.log(JSON.parse(message.body));
                        window.location.href = window.location.href + "/confirm";
                    }
                });
            });
        }

        function send(memberId) {
            let msg = {
                'userType': 'MEMBER',
                'memberId': memberId,
                'hospitalId': window.location.pathname.split('/')[5],
                'subjectId': window.location.pathname.split('/')[3],
                'status': 'PENDING'
            }

            stompClient.send("/app/reservation/main", {}, JSON.stringify(msg));
        }

        function disconnect() {
            if (stompClient !== null) {
                stompClient.disconnect();
            }
            console.log("Disconnected");
        }

        $(function () {
            $(document).ready(function(){connect();})
            $( "#delete-btn" ).click(function() {
                var memberId = document.getElementById('getMemberId').value;
                send(memberId); });
            $( "#disconnect" ).click(function() { disconnect(); });
        });
    </script>
</head>
<body>
<main layout:fragment="main" style="height: 100vh; display: flex; justify-content: center; align-items: center;">
    <div class="sm:w-1/3 md:w-1/2 lg:w-1/3 h-2/3 flex flex-col items-center justify-center overflow-hidden">
        <div class="flex items-center justify-center relative mb-6">
            <div class="text-center flex-grow">
                <h1 class="font-semibold text-lg text-[#78C4BA]">reservation</h1>
            </div>
            <a class="absolute left-40" th:href="@{/members}">
                <button>
                    <svg class="w-6 h-6 fill-[#78c4ba]" viewBox="0 0 576 512" xmlns="http://www.w3.org/2000/svg">
                        <path d="M575.8 255.5c0 18-15 32.1-32 32.1h-32l.7 160.2c0 2.7-.2 5.4-.5 8.1V472c0 22.1-17.9 40-40 40H456c-1.1 0-2.2 0-3.3-.1c-1.4 .1-2.8 .1-4.2 .1H416 392c-22.1 0-40-17.9-40-40V448 384c0-17.7-14.3-32-32-32H256c-17.7 0-32 14.3-32 32v64 24c0 22.1-17.9 40-40 40H160 128.1c-1.5 0-3-.1-4.5-.2c-1.2 .1-2.4 .2-3.6 .2H104c-22.1 0-40-17.9-40-40V360c0-.9 0-1.9 .1-2.8V287.6H32c-18 0-32-14-32-32.1c0-9 3-17 10-24L266.4 8c7-7 15-8 22-8s15 2 21 7L564.8 231.5c8 7 12 15 11 24z"></path>
                    </svg>
                </button>
            </a>
        </div>
        <!-- 회원 기본 정보 -->
        <div class="w-64 mb-7 flex flex-col text-center">
            <input id="getMemberId" type="hidden" th:value="${@rq.getMember().getId()}">
            <p class="font-semibold text-l" th:text="${@rq.getMember.username + '님이 선택하신'}"></p>
            <p><span class="text-[#78C4BA] text-l" th:text="|${hospital.name} ${subject.name}|">병원 / 진료과</span></p>
        </div>
        <!-- 예약 현황 카테고리 -->
        <div class="flex justify-between w-64 mb-10">
            <div class="w-1/3 rounded bg-[#78C4BA] text-center p-1 border border-[#78C4BA] mr-4">
                <div class="text-[#ffffff] text-sm">예약 신청</div>
            </div>
            <div class="w-1/3 rounded bg-[#78C4BA] text-center p-1 border border-[#78C4BA]">
                <div class="text-[#ffffff] text-sm">예약 대기</div>
            </div>
            <div class="w-1/3 rounded bg-[#FFFFFF] text-center p-1 border border-[#78C4BA] ml-4">
                <div class="text-[#78C4BA] text-sm">예약 확정</div>
            </div>
        </div>
        <!-- 승인 중 아이콘 & 텍스트 -->
        <div class="w-64 mb-7 flex flex-col items-center justify-center">
            <div class="loader mb-5"></div>
            <p class="font-semibold text-l">승인 <span class="text-[#78C4BA] text-l">대기중</span>입니다.</p>
            <p class="font-semibold text-l">잠시만 기다려주세요.</p>
        </div>
        <!-- 예약 정보 -->
        <div class="w-64 mb-3 rounded bg-[#E4EEED] text-center p-1 border border-[#78C4BA]">
            <p style="font-size: 14px;" th:text="'예약 병원 : ' + ${hospital.name}"></p>
            <p style="font-size: 14px;" th:text="'예약 진료과 : ' + ${subject.name}"></p>
            <p style="font-size: 14px;" th:text="'예약 일자 : ' + ${reservation.getFormattedDate()}"></p>
        </div>

        <form id="reservation-delete" th:action="@{'/members/subjects/' + ${subject.id} + '/hospitals/' + ${hospital.id} + '/reservations/' + ${reservationId}}" method="post">
            <button id="delete-btn" class="btn btn-md btn-accent gap-3 border-none w-64" style="background-color: #78C4BA; padding: 5px 15px; margin: 10px; border: 1px solid #78C4BA; box-shadow: none;">
                <span class="text-white" style="font-size: 15px;">삭제</span>
            </button>
        </form>
    </div>
</main>
</body>
</html>