<html layout:decorate="~{layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>줄서기/예약 선택 페이지</title>
    <!--jQuery-->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>
<body>
<main layout:fragment="main" style="height: 100vh; display: flex; justify-content: center; align-items: center;">

    <div class="sm:w-1/3 md:w-1/2 lg:w-1/3 h-2/3 flex flex-col items-center justify-center overflow-hidden">
        <!-- 헤더 -->
        <div class="h-8 w-64 relative">
            <a class="absolute left-2" th:href="@{/members/subjects/{subjectId}/hospitals(subjectId=${subject.id})}">
                <button>
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="#78C4BA">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"/>
                    </svg>
                </button>
            </a>
        </div>
        <!-- 아이콘 -->
        <div class="flex w-64 justify-center mt-5">
            <div class="mb-6 inline-block rounded-full bg-[#C0E1DE] p-4">
                <div class="inline-block rounded-full bg-[#78C4BA] p-4">
                    <svg class="w-6 h-6 fill-[#ffffff]" viewBox="0 0 576 512" xmlns="http://www.w3.org/2000/svg">
                        <path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"></path>
                    </svg>
                </div>
            </div>
        </div>
        <!-- 선택한 병원/진료과 안내 -->
        <div class="flex w-64 justify-center mb-6">
            <div class="flex flex-col justify-center text-center h-full text-lg font-bold">
                <div class="text-[#858587]" th:text="|${@rq.getMember.username}이 선택하신|">이름이 선택하신</div>
                <div class="text-[#78C4BA]" th:text="|${hospital.name} ${subject.name}|">병원 / 진료과</div>
            </div>
        </div>
        <!-- 줄서기/예약 버튼 -->
        <div class="flex flex-col w-64 mb-6">
            <form method="get" th:action="@{/members/subjects/{subjectId}/hospitals/{hospitalId}/queues(subjectId=${subject.id},hospitalId=${hospital.id})}">
                <button class="w-full h-28 rounded bg-[#78C4BA] text-center p-2 border border-[#78C4BA] mb-4">
                    <div class="text-[#ffffff] flex flex-col justify-center h-full">
                        <div>줄서기</div>
                        <div style="font-size: 0.8rem;">병원에서 기다리지 말고,</div>
                        <div style="font-size: 0.8rem;">온라인으로 번호표를 뽑아보세요!</div>
                    </div>
                </button>
            </form>
            <form method="post" th:action="@{/members/subjects/{subjectId}/hospitals/{hospitalId}(subjectId=${subject.id},hospitalId=${hospital.id})}">
                <button type="submit">
                    <div class="w-64 h-28 rounded bg-[#FFFFFF] text-center p-2 border border-[#78C4BA]">
                        <div class="text-[#78C4BA] flex flex-col justify-center h-full">
                            <div>예약하기</div>
                            <div style="font-size: 0.8rem;">다른 환자 분들을 위해</div>
                            <div style="font-size: 0.8rem;">당일 예약과 노쇼는 불가능합니다.</div>
                        </div>
                    </div>
                </button>
            </form>
        </div>
    </div>
</main>
</body>
</html>