<html layout:decorate="~{layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>관리자 로그인</title>
</head>
<body>
<main layout:fragment="main" style="height: 100vh; display: flex; justify-content: center; align-items: center;">
    <script>
        function LoginForm__submit(form) {

            // 아이디가 올바른지 체크
            form.username.value = "admin_"+(form.username.value.trim()); // 입력란의 입력값에 있을지 모르는 좌우공백제거

            if (form.username.value.length == 0) {
                toastWarning('아이디를 입력해주세요.');
                form.username.focus();
                return;
            }
            if (form.username.value.length < 8) {
                toastWarning('아이디를 8자 이상 입력해주세요.');
                form.username.focus();
                return;
            }
            // password 이(가) 올바른지 체크
            form.password.value = form.password.value.trim();

            if (form.password.value.length == 0) {
                form.password.focus();
                toastWarning('비밀번호를 입력해주세요.');
                return;
            }
            if (form.password.value.length < 4) {
                toastWarning('비밀번호를 4자 이상 입력해주세요.');
                form.password.focus();
                return;
            }

            form.submit(); // 폼 발송
        }
    </script>
    <div class="max-w-2xl w-full px-4">
        <h1 class="mb-4 font-semibold text-lg">관리자 로그인</h1>
        <form th:action method="POST" class="flex flex-col gap-6" onsubmit="LoginForm__submit(this); return false;">
            <div class="form-control">
                <label class="label">
                    <span class="label-text">아이디</span>
                </label>
                <input type="text" name="username" placeholder="아이디" class="input input-bordered" autofocus/>
            </div>
            <div class="form-control">
                <label class="label">
                    <span class="label-text">비밀번호</span>
                </label>
                <input type="password" name="password" placeholder="비밀번호" class="input input-bordered"/>
            </div>
            <button id="btn-login-1" class="flex justify-center rounded bg-[#78C4BA] gap-1 text-white">
                <span class="p-3">로그인</span>
            </button>
            <div class="login-signup">
                <span class="text">계정이 없으신가요?
                    <a th:href="@{/admins/join}" class="text signup-link" style="color: #78C4BA">회원가입</a>
                </span>
            </div>
        </form>
    </div>
</main>
</body>
</html>