<html layout:decorate="~{layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>관리자 예약 관리 페이지</title>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        table th, table td {
            border-top: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            border-right: none;
        }

        table thead tr {
            background-color: #f2f2f2;
        }
    </style>
    <script>
        var stompClient = null;

        function connect() {
            var socket = new SockJS('/ws/reservation');
            stompClient = Stomp.over(socket);
            stompClient.connect({}, function (frame) {
                console.log('Connected: ' + frame);
                stompClient.subscribe('/topic/reservations/main/subjects/'+document.getElementById('subjectId').value
                    +'/hospitals/'+document.getElementById('hospitalId').value, function (message) {
                    console.log(JSON.parse(message.body));
                    window.location.reload();
                });
            });
        }

        function eachConnect(memberId) {
            stompClient.subscribe('/topic/reservations/members/'+memberId+'/subjects/'+document.getElementById('subjectId').value
                +'/hospitals/'+document.getElementById('hospitalId').value, function (message) {
                console.log(JSON.parse(message.body));
                window.location.reload();
            });
            send(memberId);
        }

        function disconnect() {
            if (stompClient !== null) {
                stompClient.disconnect();
            }
            console.log("Disconnected");
        }

        function send(memberId) {
            let msg = {
                'userType': 'ADMIN',
                'memberId': memberId,
                'hospitalId': document.getElementById('hospitalId').value,
                'subjectId': document.getElementById('subjectId').value,
                'status': 'CONFIRMED'
            }

            stompClient.send("/app/reservation", {}, JSON.stringify(msg));
        }

        $(function () {
            $(document).ready(function(){connect();})
            $( ".confirm-btn" ).click(function() {
                var memberId = $(this).val();
                eachConnect(memberId);});
            $( "#disconnect" ).click(function() { disconnect(); });
        });
    </script>
</head>
<body>
<main layout:fragment="main">
    <header class="text-gray-600 body-font">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
            <a class="flex title-font font-medium items-center text-[#78c4ba] mb-4 md:mb-0">
                <a th:href="@{/admins}"><img src="https://i.ibb.co/dKYVXJv/care-Q.png" alt="care-Q" width="30"></a>
                <!-- 내비게이션 바 -->
                <div class="text-sm font-medium text-center text-gray-500 dark:text-gray-400 dark:border-gray-700 ml-10">
                    <ul class="flex flex-wrap -mb-px">
                        <li class="mr-2">
                            <a th:href="@{/admins/queues}" class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300">줄서기 관리</a>
                        </li>
                        <li class="mr-2">
                            <a th:href="@{/admins/reservations}" class="inline-block p-4 text-[#78c4ba] border-b-2 border-[#78c4ba] rounded-t-lg active dark:text-[#78c4ba] dark:border-[#78c4ba]" aria-current="page">예약 관리</a>
                        </li>
                        <li class="mr-2">
                            <a th:href="@{/admins/chatrooms}" class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300">채팅방 목록</a>
                        </li>
                    </ul>
                </div>
            </a>
            <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center">
            </nav>
            <!-- 로그아웃 버튼 -->
            <form th:if="${@adminRq.login}" th:action="|/admins/logout|" method="post" class="inline-flex items-center border-0 py-1 px-3 focus:outline-none text-base text-[#78c4ba] mt-4 md:mt-0">
                <svg class="w-[24px] h-[24px] fill-[#78c4ba]" viewBox="0 0 576 512" xmlns="http://www.w3.org/2000/svg">
                    <path d="M502.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-128-128c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L402.7 224 192 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l210.7 0-73.4 73.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l128-128zM160 96c17.7 0 32-14.3 32-32s-14.3-32-32-32L96 32C43 32 0 75 0 128L0 384c0 53 43 96 96 96l64 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-64 0c-17.7 0-32-14.3-32-32l0-256c0-17.7 14.3-32 32-32l64 0z"></path>
                </svg>
                <button th:if="${@adminRq.login}" type="submit">
                    Logout
                </button>
            </form>
        </div>
    </header>
    <div class="container mx-auto p-5">
        <div class="flex justify-between items-center">
            <input type="hidden" id="hospitalId" th:value="${@adminRq.getAdmin().getHospital().getId()}"/>
            <input type="hidden" id="subjectId" th:value="${@adminRq.getAdmin().getSubject().getId()}"/>
            <h1 class="font-semibold text-lg text-[#78C4BA]">예약자 관리</h1>
        </div>
        <!-- 예약 목록 표시 -->
        <table class="w-full border-collapse mt-5">
            <thead>
                <tr class="bg-gray-200 text-black">
                    <th class="py-2 px-4 text-center">순번</th>
                    <th class="py-2 px-4 text-center">환자 ID</th>
                    <th class="py-2 px-4 text-center">예약 일시</th>
                    <th class="py-2 px-4 text-center">예약 상태</th>
                    <th class="py-2 px-4 text-center">승인 여부</th>
                </tr>
            </thead>
            <tbody>
            <!-- 예약 목록을 순회하며 표시 -->
            <tr th:each="reservation, reservationStat : ${reservations}">
                <td class="border-t border-b py-2 px-4 text-sm text-center" th:text="${reservationStat.count}"></td>
                <td class="border-t border-b py-2 px-4 text-sm text-center" th:text="${reservation.member.username}"></td>
                <td class="border-t border-b py-2 px-4 text-sm text-center" th:text="${reservation.getFormattedDate()}"></td>
                <td class="border-t border-b py-2 px-4 text-sm text-center">
                    <div class="flex justify-center">
                        <div th:if="${reservation.isDeleted and #strings.equals(reservation.registerStatus, 'COMPLETE') and #strings.equals(reservation.status, 'CONFIRMED')}" class="text-[#858587] py-1 px-2 rounded" style="background-color: white; border: 1px solid #858587; width: 90px;">예약 확정</div>
                        <div th:if="${#strings.equals(reservation.status, 'PENDING')}" class="text-[#4392F9] py-1 px-2 rounded" style="background-color: white; border: 1px solid #4392F9; width: 90px;">승인 대기 중</div>
                        <div th:if="${!reservation.isDeleted and #strings.equals(reservation.status, 'CONFIRMED')}" class="text-[#F83758] py-1 px-2 rounded" style="background-color: white; border: 1px solid #F83758; width: 90px;">예약 확정</div>
                        <div th:if="${#strings.equals(reservation.status, 'CANCELLED')}" class="text-[#858587] py-1 px-2 rounded" style="background-color: white; border: 1px solid #858587; width: 90px;">예약 취소</div>
                    </div>
                </td>
                <td class="border-t border-b py-2 px-4 text-sm text-center">
                    <div class="flex justify-center">
                        <div th:if="${reservation.isDeleted and #strings.equals(reservation.registerStatus, 'COMPLETE')}" th:value="${reservation.member.id}" class="text-[#858587] py-1 px-2 rounded" style="background-color: white; border: 1px solid #858587; width: 90px;">진료 완료</div>
                        <div th:if="${reservation.isDeleted and #strings.equals(reservation.status, 'CANCELLED')}" th:value="${reservation.member.id}" class="flex justify-center text-[#858587] py-1 px-2 rounded" style="background-color: white; border: 1px solid #858587; width: 90px;">환자 취소</div>
                        <button th:if="${!reservation.isDeleted and #strings.equals(reservation.status, 'PENDING')}" class="confirm-btn py-1 px-2 rounded" th:value="${reservation.member.id}" style="background-color: #4392F9; color: white; width: 90px;">승인</button>
                        <form th:if="${!reservation.isDeleted and #strings.equals(reservation.status, 'CONFIRMED')}" class="m-0" action='/admins/reservations' method="POST">
                            <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                            <input type="hidden" name="memberId" th:value="${reservation.member.id}"/>
                            <button class="py-1 px-2 rounded" style="background-color: #F83758; color: white; width: 90px;">예약 취소</button>
                        </form>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
</body>
</html>