body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 240px;
    height: 66.67%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
}

.back-button {
    color: #78C4BA;
    cursor: pointer;
    position: absolute;
    left: 20px;
}

.back-button svg {
    width: 24px;
    height: 24px;
    stroke: currentColor;
    fill: none;
    position: absolute;
    left: -50px;
    top: 50%;
    transform: translateY(-50%);
}

.title {
    font-weight: bold;
    font-size: 1.125rem;
    color: #78C4BA;
    text-align: center;
    margin-left: 15px;
}

.select-container {
    display: inline-flex;
    width: 100%;
}

.select {
    flex: 0.5 !important;
    width: 120px !important;
    margin-right: 0.5rem !important;
    font-size: 0.875rem !important;
    border: 1px solid #ccc !important;
    border-radius: 7px !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    padding-left: 0.7rem !important;
    padding-right: 0.5rem !important;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="%23333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M6 9l6 6 6-6"/></svg>') !important;
    background-repeat: no-repeat !important;
    background-position: right center !important;
    background-size: 16px !important;
}

#searchButton {
    background-color: #78C4BA;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.875rem;
}

.list {
    width: 100%;
    background-color: #f4f4f4;
    border-radius: 9px;
    text-align: left;
    margin-top: 1rem;
    overflow-y: auto;
    max-height: 37%;
    min-height: 200px;
}

.list-item {
    margin-bottom: 1.5rem;
}

.list-title {
    font-weight: bold;
    font-size: 0.8rem;
    color: #121212;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.list-info {
    font-size: 0.8rem;
    color: #121212;
    margin-left: 1rem;
    margin-right: 1rem;
}

.phone {
    color: #F83758;
}

.map-container {
    border-radius: 8px;
    text-align: center;
    margin-top: 0.5rem;
}

.button-toggle {
    display: flex;
}

.button-toggle-input {
    display: none;
}

.button-toggle-label {
    cursor: pointer;
    padding: 6px 45px;
    border: 1px solid #ccc;
    background-color: #fff;
    margin-bottom: 15px;
    border-radius: 0;
}

.button-toggle-input:checked + .button-toggle-label {
    background-color: #78C4BA;
    color: #fff;
    border: 1px solid #78C4BA;
    border-radius: 0;
}

.button-toggle-input#pharmacyRadio:checked + .button-toggle-label {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.button-toggle-input#pharmacyRadio:checked ~ .button-toggle-input#hospitalRadio + .button-toggle-label {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.button-toggle-input#hospitalRadio:checked + .button-toggle-label {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.button-toggle-input#hospitalRadio:checked ~ .button-toggle-input#pharmacyRadio + .button-toggle-label {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.button-toggle-label:hover {
    background-color: #f0f0f0;
}

.button-toggle-label:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(120, 196, 186, 0.5);
}

.search-button {
    background-color: #78C4BA;
    border: none;
    padding: 10px 8px;
    cursor: pointer;
    border-radius: 5px;
}

.search-icon {
    width: 20px;
    height: 20px;
    stroke: #fff;
}