table {
    border-collapse: collapse;
    width: 100%;
}

table th, table td {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-right: none;
}

table thead tr {
    background-color: #f2f2f2;
}